extends ../layoutMenu
  
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href="")
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href="/") Inicio
            li.active
              span Solicitudes
        h2.font-light.m-b-xs
          | Solicitudes de Recargas
        small Recargar saldo a los usuarios    
  .content.animate-panel
    .panel
      .panel-body
        if ok
          .alert.alert-success.alert5s Recarga realizada exitosamente
        .table-responsive
          table.table
            thead
              tr
                th
                th Registro
                th Usuario
                th Recibo
                th Monto
                th Paquete
            tbody
              for sol in solicitudes
                tr
                  td
                    a.confirmar-solicitud(href="#"+sol._id,solID=sol._id)
                      i.fa.fa-check.text-success(aria-hidden='true') &nbsp;
                  td= moment(sol.registro).format("DD/MM/YY")
                  td= sol.destino.nombre
                  td
                    span.label.label-primary= sol.banco
                    span= sol.recibo
                  td= sol.monto
                  td= sol.pkg.nombre
block append footer
  script.
    $('.confirmar-solicitud').click(function (e) {
      e.preventDefault();
      var id = $(this).attr("solID");
      swal({
            title: "Confirma desea recargar saldo?",
            showCancelButton: true,
            confirmButtonText: "Confirmar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true },
        function (isConfirm) {
          if (isConfirm) window.location.href="/adm/recarga/confirmar/"+id
        });
    });