extends ../layoutMenu

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href="")
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href="/") Inicio
            li.active
              span Usuario
        h2.font-light.m-b-xs
          | Usuario
        small Ver o Editar usuario
  .content.animate-panel
    if editok
      .alert.alert-success Usuario actualizado exitosamente

    .hpanel
      .panel-body
        if user.papelera==true
          .alert.alert-danger  ESTE USUARIO SE ENCUENTRA EN LA PAPELERA
            a.pull-right(href="#restaurar") Restaurar
        form#loginForm(action="/adm/registrar" method="post")
          .row
            .form-group.col-lg-6
              label Usuario
              p.form-control-static= user.usuario
            .form-group.col-lg-6
              label Nombre
              input.form-control(type="text" value=user.nombre id="" name="nombre")            
            .form-group.col-lg-6
              label Correo
              input.form-control(type="mail" value=user.contacto.correo id="" name="correo")
            .form-group.col-lg-6
              label Telefono
              input.form-control(type="tel" value=user.contacto.telefono id="" name="telefono")                  
            .form-group.col-lg-12
              label Tipo
              select.form-control.s2(name="tipo")
                -var saml = (user.tipo=="aml"?true:false)
                -var semp = (user.tipo=="emp"?true:false)
                -var sotro = (user.tipo=="otro"?true:false)
                option(value="aml",selected=saml) SRQAnimales
                option(value="emp",selected=semp) Empresarial
                option(value="adm",selected=sotro) Administrador
            .form-group
              .col-sm-6.col-sm-offset-3
                button.btn.btn-success.btn-block(type="submit") Confirmar
  .row
    if (user.papelera===false)
      .col-md-3
        .hpanel
          .panel-body
            .text-center
              h2.m-b-xs Eliminar
              .m
                i.pe-7s-trash.fa-5x
              button#remover.btn.btn-danger.btn-sm(uid=user._id) Eliminar
    else
      .col-md-3
        .hpanel#restaurar
          .panel-body
            .text-center
              h2.m-b-xs Restaurar
              .m
                i.pe-7s-trash.fa-5x
              button#restaura.btn.btn-primary.btn-sm(uid=user._id) Restaurar

block append footer  
  script.
    $('#remover').click(function () {
      var id = $(this).attr("uid");
      swal({
        title: "Estas seguro?",
        text: "Estas a punto de enviar este usuario a la papelera!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Si, eliminalo!",
        cancelButtonText: "No, cancela!",
        closeOnConfirm: false,
        closeOnCancel: false },
          function (isConfirm) {
            if (isConfirm) {
                fetch('http://localhost:3000/api/usuario/rem/'+id)
                  .then(res => res.json())
                  .then(data => {
                      if (data.code=="ok") {
                        swal("Eliminado!", "El usuario ha sido enviado a la papelera.", "success");
                      } else swal("Cancelado", data.message, "error");
                  });
            } else {
                swal("Cancelado", "El usuario esta a salvo.", "error");
            }
      });
    });

    $('#restaura').click(function () {
      var id = $(this).attr("uid");
      swal({
        title: "Estas seguro?",
        text: "Estas a punto recuperar este usuario de la papelera!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Si, restaura!",
        cancelButtonText: "No, cancela!",
        closeOnConfirm: false,
        closeOnCancel: false },
          function (isConfirm) {
            if (isConfirm) {
                fetch('http://localhost:3000/api/usuario/res/'+id)
                  .then(res => res.json())
                  .then(data => {
                      if (data.code=="ok") {
                        swal("Recuperado!", "El usuario ha sido recuperado.", "success");
                      } else swal("Cancelado", data.message, "error");
                  });
            } else {
                swal("Cancelado", "El usuario sigue en la papelera.", "error");
            }
      });
    })
              