extends layoutMenu

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/') Inicio
            li.active
              span Perfil 
        h2.font-light.m-b-xs
          | Perfil
  .content.animate-panel
    .row
      .col-lg-4(style='')
        .hpanel.hgreen
          .panel-body            
            //img.img-circle.m-b.m-t-md(alt='logo' src='images/profile.jpg')
            h3
              a(href='')= usuario.nombre              
          .panel-body
            dl
              dt Telefono
              dd= usuario.contacto.telefono
              dt Correo
              dd= usuario.contacto.correo
          .panel-footer.contact-footer
            .row(style="margin:5px;") Mensajes Enviados
            .row
              .col-md-4.border-right(style='')
                .contact-stat
                  span Total:
                  strong= mensajes.length
              .col-md-4.border-right(style='')
                .contact-stat
                  span Este Mes:
                  strong= smsMes
              .col-md-4(style='')
                .contact-stat
                  span Semana:
                  strong= smsSem
      .col-lg-8(style='')
        .hpanel
          .hpanel
            ul.nav.nav-tabs
              li
                a(data-toggle='tab' href='#tab-1') Editar
              li.active
                a(data-toggle='tab' href='#tab-2') Mensajes
            .tab-content
              #tab-1.tab-pane
                .panel-body
                  form.form-horizontal(method="post",action="/perfil/actualizar")
                    .form-group
                      label.col-sm-2.control-label Nombre
                      .col-sm-9
                        input.form-control(type="text",value=usuario.nombre,required="true")
                    | Contacto  
                    .form-group
                      label.col-sm-2.control-label Correo
                      .col-sm-9
                        input.form-control(type="mail",value=usuario.contacto.correo)
                    .form-group
                      label.col-sm-2.control-label Telefono
                      .col-sm-9
                        input.form-control(type="text",value=usuario.contacto.telefono)
                    .form-group
                      .col-sm-6.col-sm-offset-3
                        button.btn.btn-primary.btn-block.pull-right(type='submit') Actualizar
                    | Cambiar Contraseña
                  form.form-horizontal(method="post",action="/perfil/cambiarpsw")
                    .form-group
                      label.col-sm-2.control-label Nueva
                      .col-sm-9
                        input.form-control(type="text",required="true")
                    .form-group
                      label.col-sm-2.control-label Repetir
                      .col-sm-9
                        input.form-control(type="text",required="true")  
                    .form-group
                      .col-sm-6.col-sm-offset-3
                        button.btn.btn-primary.btn-block.pull-right(type='submit') Confirmar    
              #tab-2.tab-pane.active
                .panel-body.no-padding
                  .chat-discussion(style='height: auto')
                    include mensajes