extends layout
block append header
  link(rel="stylesheet", href="vendor/select2-3.5.2/select2.css")
  link(rel="stylesheet", href="vendor/select2-bootstrap/select2-bootstrap.css")
  link(rel='stylesheet' href='vendor/sweetalert/lib/sweet-alert.css')
block content
  include header_menu  
  // Navigation
  include side_menu
  // Main Wrapper
  #wrapper
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href="")
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href="/") Panel de Control
              li.active
                span Recargar
          h2.font-light.m-b-xs
            | Centro de Recargas
          small Recargar saldo a los usuarios    
    .content.animate-panel
      .panel
        .panel-body
          if msgOK
            .alert.alert-success Recarga realizada exitosamente 
              a(href="/recarga/"+recargaID) Ver Detalle
          form#recargarForm.ajax(action="/recargar" method="post")
            .row
              .form-group.col-lg-12
                label Usuario
                select#usuarios.s2.form-control(name="usuario")
                  each usuario in usuarios
                    option(value= usuario._id)= usuario.nombre
              .form-group.col-lg-4
                label Recibo
                input.form-control(type="text" value="" id="" name="recibo")
              .form-group.col-lg-4
                label Monto
                input.form-control(type="text" value="" id="" name="monto")
              .form-group.col-lg-4
                label Banco
                select#paquetes.s2.form-control(name="paquete")
                  option(value="banesco") Banesco
                  option(value="mercantil") Mercantil
                  option(value="venezuela") Venezuela
              .form-group.col-lg-12
                label Paquete
                select#paquetes.s2.form-control(name="paquete")
                  option(value="pkg01") Paquete Inicial
                  option(value="pkg02") Paquete Mini
            .text-center
              button.btn.btn-success(type="submit") Registrar
              button.btn.btn-default(type="reset") Cancelar
    .panel
      .panel-body
        table.table
          thead
            tr
              th Usuario
              th Recibo
              th Monto
          each rc in recargas
            tr
              td= rc.destino.nombre
              td= rc.recibo
              td= rc.monto
block append footer
  script(src="vendor/select2-3.5.2/select2.min.js")
  script(src='vendor/sweetalert/lib/sweet-alert.min.js')
  script.
    var rch = $('#recargarForm');
    var go=false;
    rch.submit(function (e) {
      if (go==false) {
        e.preventDefault(e);
        swal({
            title: "Confirma desea recargar saldo?",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
            showCancelButton: true,
            confirmButtonText: "Confirmar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true },
        function (isConfirm) {
          if (isConfirm) {            
            go=true;
            rch.submit();
          }
        });
      };
    });